SetEnv PHP_VER 5_4

# Compression de certains types de fichiers
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript

# Mise en cache
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType text/css "access plus 10 years"
	ExpiresByType text/js "access plus 10 years"
	ExpiresByType text/javascript "access plus 10 years"
	ExpiresByType application/x-javascript "access plus 10 years"
	ExpiresByType image/png "access plus 10 years"
	ExpiresByType image/jpg "access plus 10 years"
	#ExpiresDefault "access plus 10 years"
</IfModule>

<Files ~ "^\.ht">
	Order allow,deny
	Deny from all
	Satisfy all
</Files>

<Files ~ "^~.*">
	Order allow,deny
	Deny from all
	Satisfy all
</Files>

FileETag Size
