boddle==0.2.9
bottle==0.13.4
charset-normalizer==3.4.2
feedgenerator==2.2.0
feedparser==6.0.11
freezegun==1.5.4
mypy==1.17.0
opencv-contrib-python-headless==4.12.0.88
paste==3.10.1
pytest==8.4.1
pytest-cov==6.2.1
requests==2.32.4
responses==0.25.7
ruff==0.12.4
types-requests==2.32.4.20250611
