boddle==0.2.9
bottle==0.13.2
charset-normalizer==3.4.0
feedgenerator==2.1.0
feedparser==6.0.11
freezegun==1.5.1
mypy==1.13.0
opencv-contrib-python-headless==4.10.0.84
paste==3.10.1
pytest==8.3.3
pytest-cov==6.0.0
requests==2.32.3
responses==0.25.3
ruff==0.7.4
types-requests==2.32.0.20241016
