black==23.10.1
boddle==0.2.9
bottle==0.12.25
charset-normalizer==3.3.2
feedgenerator==2.1.0
feedparser==6.0.10
flake8-pyproject
freezegun==1.2.2
isort==5.12.0
mypy==1.6.1
opencv-contrib-python-headless==4.8.1.78
paste==3.7.1
pytest==7.4.3
pytest-cov==4.1.0
requests==2.31.0
responses==0.23.3
types-requests==2.31.0.10
