body {
    background-color: #eee;
    margin: 8px;
}

#image-container {
    position: relative;
}

#image-container img, #image-container figure {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

#image-container img {
    display: inline-block;
    visibility: hidden;
}

#image-container figure {
    float: left;
    margin-bottom: 4px;
    background: lightgreen url('loading.gif') no-repeat center center;
}
#image-container figure[data=nsfw] img {
    opacity: .05;
}

#image-container figure[data=nsfw] a {
    color: orange;
}

#image-container a {
    outline: 0;
    color: #999 !important;
    text-decoration: none;
}

#image-container a:hover {
    color: #eee !important;
    transition: 0.5s;
}

#image-container .pagination {
    clear: both;
    margin: -8px;
    height: 18px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    background-color: #555;
    font-size: 0.8em;
}

/*
 * One image to show
 */
.image-container-alone {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #222;
    box-shadow: 0px 0px 20px #111;
}

@media only screen and (max-width:640px){
#image-container .pagination {
    height: 25px;
    line-height: 25px;
    font-size: .9em;
}
}
