* {
    cursor: pointer !important;
    --bg-color: #222
}
body {
    margin: 0;
    background-color: var(--bg-color);
    text-shadow: 0px 0px 1px #fff
}

#images-container {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}
#images-container .row {
    height: 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
#images-container a {
    display: inline-flex;
    overflow: hidden;
    border: 1px solid var(--bg-color);
}
#images-container img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    transition: transform .5s ease-in-out;
    opacity: 0;
}
#images-container img.loaded {
    opacity: 1;
    animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }
#images-container a:hover {
    border-color: #ddd;
}
#images-container a:hover img {
    transform: scale3d(1.2, 1.2, 1);
    transition: transform 1s ease-in-out;
}
#images-container .nsfw {
    background: transparent url('/assets/img/nsfw.png') no-repeat top right;
}
#images-container .nsfw img {
    opacity: .05;
}

footer {
    clear: both;
    color: #eee;
    padding: 10px;
    margin-top: 8px;
    text-align: center;
    background: #45484d linear-gradient(to top, #45484d 0%,var(--bg-color) 100%);
    text-shadow: 1px 1px 1px #000;
}
footer a {
    color: #999;
    text-decoration: none;
}
footer a:hover {
    color: orange;
}

/*
 * One image to show
 */

.image-container-alone img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}
.image-container-alone img.gay-pride {
    box-shadow:
        rgb(85, 91, 255) 0px 0px 0px 3px,
        rgb(31, 193, 27) 0px 0px 0px 6px,
        rgb(255, 217, 19) 0px 0px 0px 9px,
        rgb(255, 156, 85) 0px 0px 0px 12px,
        rgb(255, 85, 85) 0px 0px 0px 15px
    ;
}

/*
 * Toolbar
 */

.image-container-alone-toolbar {
    display: inline-block;
    background-color: #fff;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px .2em #666;
    padding: .2em .4em ;
    margin: -1px;
    opacity: .9;
    transition: .5s;
}
.image-container-alone-toolbar:hover {
    opacity: 1;
    transition: .1s;
}
.image-container-alone-toolbar a {
    outline: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.5em;
    color: #eee;
    opacity: .5;
    transition: .2s;
}
.image-container-alone-toolbar a:not(:last-child) {
    margin-right: .2em;
}
.image-container-alone-toolbar a:hover {
    opacity: 1;
    transition: .1s;
}

/*
 * Update
 */

.update table {
    width: 80%;
    margin: auto;
    border: 1px solid gray !important;
    border-collapse: collapse;
    background-color: #eee;
}
.update th {
    padding: 5px;
    text-align: unset;
    font-weight: bold;
}
.update tr:hover td {
    background-color: orange;
}
.update td {
    border-bottom: 1px solid gray;
}
.update a {
    outline: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAABEVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABoX7lMAAAAWnRSTlPpfD7+oizYU5gh4ze9EkhlcSbtjtktcs73MpFE+MZdDO7RnHdmtpQuIoRAEBf8eiqV4Yg7YvIGJKDWW/2XJUOD+3kp4PEKzRqGa/Ntfwgc6OwxD4reAQJcVQB3OGyDAAABL0lEQVR42s3Ud0vEQBAFcBV7PXtvZz0Ve8eC5YpXvJpcbr7/B/FNNmB2N4MLgvj+Gt7+CAnMpqvjmL+BbVdIbVcI6QYhf4TXPaUmWdKCe7fEUVKGY70Uy6cIF9/jLhCfOKJArhwoJ8GhkO28YlROgP4mu49wZifCS3b3aoYToV+Dm446OBEuwy1kHbZnCbDbZc3uAE9cICGefdpC3TAhJjdYS4Bn6CsmJN+GXOvvOI+mbrk62n4d8rIWLPiMdleHF4QcGm6dyycdem/o0gY8RVf14xAJ1PLEM8HVmrWPo1yXv7/ce+Fi1bPgUZGQmfHo5CBHSDGfcBX6VogzNXi8XXqoUpjZxMu13yI9w5PCda0UNNfMyj+AfGYjUlfn8r1WuRlIbc0Fjx0z/+zX/Dv4Bb5NHUFsNNkmAAAAAElFTkSuQmCC) no-repeat center center;
    opacity: .5;
    transition: 1s;
}
.update a:hover {
    transform: rotate(360deg);
}
.update a:hover {
    opacity: 1.0;
    transition: 1s;
}
.update .tous {
    background-color: #999;
}
.update .num, .update .maj, .update .nouveautes {
    text-align: center;
    font-weight: bold;
}
.update .center {
    text-align: center;
}
.update #sum {
    color: #000 !important;
}