* {
    cursor: pointer !important;
    --bg-color: #222
}

body {
    margin: 0;
    color: #eee;
    background-color: var(--bg-color);
    text-shadow: 1px 1px 1px #000;
    font-family: system-ui;
}