input,
button {
    font-size: 1rem;
    padding: .2rem .5rem;
}

input {
    transition: border-color 0.5s ease-out;
}

input:invalid {
    border-color: red;
    outline: 1px solid tomato;
    border-radius: 2px;
}

#top-bar {
    display: flex;
    padding: 10px;
    background: #45484d linear-gradient(to bottom, #45484d 0%, var(--bg-color) 100%);
}

#top-bar>div {
    display: inline-flex;
    align-self: center;
}

#top-bar .left>*:not(:first-child) {
    margin-left: 10px;
}

#top-bar .right {
    margin-left: auto;
    margin-right: 10px;
}

#images-container {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

#images-container .row {
    height: 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#images-container a {
    display: inline-flex;
    overflow: hidden;
    border: 1px solid var(--bg-color);
}

#images-container a:hover {
    border-color: #ddd;
}

#images-container a:hover img {
    transform: scale3d(1.2, 1.2, 1);
    transition: transform 1s ease-in-out;
}

#images-container img {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    transition: transform .5s ease-in-out;
    opacity: 0;
}

#images-container img.loaded {
    animation: fadein 2s;
    opacity: 1;
}

#images-container img.loaded.nsfw {
    filter: blur(10px);
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

footer {
    padding: 10px;
    text-align: center;
    background: #45484d linear-gradient(to top, #45484d 0%, var(--bg-color) 100%);
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover {
    color: orange;
}

@media (max-width:640px) {
    #top-bar {
        flex-direction: column;
    }

    #top-bar>div {
        width: 100%;
    }

    #search-button {
        display: none;
    }

    #top-bar .left>*:not(button) {
        width: 100%;
    }

    #top-bar .right {
        margin-top: 10px;
        justify-content: end;
    }
}