.update table {
    width: 80%;
    margin: auto;
    border: 1px solid gray !important;
    border-collapse: collapse;
    background-color: #eee;
}
.update th {
    padding: 5px;
    text-align: unset;
    font-weight: bold;
}
.update tr:hover td {
    background-color: orange;
}
.update td {
    border-bottom: 1px solid gray;
}
.update a {
    outline: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAABEVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABoX7lMAAAAWnRSTlPpfD7+oizYU5gh4ze9EkhlcSbtjtktcs73MpFE+MZdDO7RnHdmtpQuIoRAEBf8eiqV4Yg7YvIGJKDWW/2XJUOD+3kp4PEKzRqGa/Ntfwgc6OwxD4reAQJcVQB3OGyDAAABL0lEQVR42s3Ud0vEQBAFcBV7PXtvZz0Ve8eC5YpXvJpcbr7/B/FNNmB2N4MLgvj+Gt7+CAnMpqvjmL+BbVdIbVcI6QYhf4TXPaUmWdKCe7fEUVKGY70Uy6cIF9/jLhCfOKJArhwoJ8GhkO28YlROgP4mu49wZifCS3b3aoYToV+Dm446OBEuwy1kHbZnCbDbZc3uAE9cICGefdpC3TAhJjdYS4Bn6CsmJN+GXOvvOI+mbrk62n4d8rIWLPiMdleHF4QcGm6dyycdem/o0gY8RVf14xAJ1PLEM8HVmrWPo1yXv7/ce+Fi1bPgUZGQmfHo5CBHSDGfcBX6VogzNXi8XXqoUpjZxMu13yI9w5PCda0UNNfMyj+AfGYjUlfn8r1WuRlIbc0Fjx0z/+zX/Dv4Bb5NHUFsNNkmAAAAAElFTkSuQmCC) no-repeat center center;
    opacity: .5;
    transition: 1s;
}
.update a:hover {
    transform: rotate(360deg);
}
.update a:hover {
    opacity: 1.0;
    transition: 1s;
}
.update .tous {
    background-color: #999;
}
.update .num, .update .maj, .update .nouveautes {
    text-align: center;
    font-weight: bold;
}
.update .center {
    text-align: center;
}
.update #sum {
    color: #000 !important;
}
