body {
    overflow: hidden;
    background-color: var(--docolav);
}

#image {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}

#image.gay-pride {
    box-shadow:
        rgb(85, 91, 255) 0px 0px 0px 3px,
        rgb(31, 193, 27) 0px 0px 0px 6px,
        rgb(255, 217, 19) 0px 0px 0px 9px,
        rgb(255, 156, 85) 0px 0px 0px 12px,
        rgb(255, 85, 85) 0px 0px 0px 15px;
}

#toolbar {
    display: inline-flex;
    align-items: center;
    background-color: var(--docolav);
    border-bottom-right-radius: 5px;
    text-shadow: 0px 0px 1px var(--txt-shadow);
    opacity: .9;
    transition: .5s;
}

#toolbar.vertical {
    flex-direction: column;
}

#toolbar span {
    transform: rotate(90deg);
}

#toolbar.vertical span {
    transform: rotate(0);
}

#toolbar:hover {
    opacity: 1;
    transition: .1s;
}

#toolbar>* {
    display: flex;
    margin: 0 .2em;
    outline: 0;
    text-decoration: none;
    font-size: 1.5em;
    color: #eee;
    opacity: .5;
    transition: .2s;
}

#toolbar a:not(:last-child) {
    margin-right: .2em;
}

#toolbar a:hover {
    opacity: 1;
    transition: .1s;
}

#tags {
    position: absolute;
    display: block;
    line-height: 25px;
    bottom: -23px;
}

#tags a {
    display: inline-block;
    text-decoration: none;
    color: #eee;
    text-shadow: 0px 0px 0px #000;
    background-color: var(--bg-color);
    border-top: 3px solid orange;
    padding: 1px 10px;
    transition: transform .3s ease-out;
}

#tags a:hover {
    text-shadow: 0px 0px 0px #fff;
    transform: translate(0, -23px);
}